.nav__link {
    text-decoration: none;
    font-size: 22px;
    line-height: 30px;
    color:rgba(73, 73, 73, 0.583)
}

.nav__link:hover {
    color: #ac182d;
    cursor: pointer;
}

@media all and (max-width: 800px)  {
    .nav__link{
        font-size: 17px;
        line-height: 20px;
    }
}
@media all and (max-width: 500px)  {
    .nav__link  {
        font-size: 12px;
        line-height: 17px;
    }
}