
.reviews__items {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 30px;
    justify-items: center;
    justify-content: center;
}

@media all and (max-width: 1100px)  {
    .reviews__items {
        grid-template-columns: repeat(2, max-content);
        gap: 10px;
    }
}

@media all and (max-width: 700px)  {
    .reviews__items {
        display: none;
    }
}