.thanks__link {
    margin-block-start: 10px;
    margin-block-end: 0;
    margin: 0 auto 50px;
    text-decoration: none;
    color: #240000;
    font-size: 18px;
    line-height: 22px;
}
.thanks__link:hover {
    cursor: pointer;
    opacity: .7;
    color: #240000;
}
@media all and (max-width: 800px)  {
    .thanks__link{
        font-size: 17px;
        line-height: 20px;
    }
}
@media all and (max-width: 500px)  {
    .thanks__link  {
        font-size: 12px;
        line-height: 17px;
        margin-block-start: 5px;
    }
}