.collagen {
    display: grid;
    grid-template-rows: 1fr max-content;
    align-items: center;
    background: #fff no-repeat;
    background-image: url(../../images/collagen.png);
    background-size: 800px 500px;
    background-position: 100% 0%;
    padding: 40px 120px;
    min-height: 400px;
}
@media all and (max-width: 1500px)  {
    .collagen {
        padding: 40px 90px;
    }
}
@media all and (max-width: 1200px)  {
    .collagen {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .collagen {
        grid-template-rows: 2fr 1fr;
        padding: 40px;
        min-height: 250px;
        background-size:contain;
        background-position: 100% 100%;
    }
}

@media all and (max-width: 500px)  {
    .collagen {
        padding: 20px 20px;
    }
}