.header__paragraph {
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
}
.header__paragraph span {
    color: rgb(255, 4, 4);
    font-weight: bold;
}

.header__paragraph:first-of-type {
    grid-area: pr1;
}
.header__paragraph:nth-of-type(2) {
    grid-area: pr2;
}
.header__paragraph:nth-of-type(3) {
    grid-area: pr3;
}
.header__paragraph:nth-of-type(4) {
    grid-area: pr4;
}
.header__paragraph:nth-of-type(4) span {
    color: rgb(70, 248, 94);
}
.header__paragraph:last-of-type {
    grid-area: pr5;
    align-self: end;
    font-weight: bold;
}

@media all and (max-width: 1200px)  {
    .header__paragraph {
        font-size: 18px;
        line-height: 22px;
        align-self: end;
    }
    
    .header__paragraph:last-of-type {
        justify-self: center;
    }
}

@media all and (max-width: 800px)  {
    .header__paragraph {
        font-size: 17px;
        line-height: 25px;
    }
    .header__paragraph:last-of-type {
        justify-self: end;
        text-align: center;
    }
}

@media all and (max-width: 700px)  {
    .header__paragraph:last-of-type {
        justify-self: center;
    }
}
