.cards__subtitle {
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    color: #8b030d;
    justify-self: stretch;
    text-align: center;
    min-height: 60px;
}
.cards_ps .cards__subtitle {
    text-transform: uppercase;
}

@media all and (max-width: 1200px)  {
    .cards__subtitle{
        font-size: 28px;
        line-height: 38px;
        min-height: 56px;
    }
}
@media all and (max-width: 800px)  {
    .cards__subtitle{
        font-size: 24px;
        line-height: 34px;
        margin-block-start: 15px;
        min-height: 50px;
    }
}

@media all and (max-width: 600px)  {
    .cards__subtitle{
        min-height: 30px;
    }
}

@media all and (max-width: 500px)  {
    .cards__subtitle{
        max-width: 100%;
        font-size: 20px;
        line-height: 31px;
        margin-block-start: 10px;
    }
}