.reviews__img {
    max-width: 350px;
    width: 100%;
    height: 540px;
    border: rgb(215, 156, 167) 1px solid;
    box-shadow: 12px 12px 18px rgba(215, 156, 167, 0.5);
    border-radius: 20px;
    object-fit: contain;
}

@media all and (max-width: 500px)  {
    .reviews__img {
    box-shadow: none;
    border: none;
    }
}