.price__item {
    display: grid;
    grid-template-rows:  100px 1fr 100px;
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 350px;
    border: 1px solid #e8e8e8;
    box-shadow: 2px 2px 8px rgba(124, 119, 41, 0.8);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    background: #fff;
    align-content: end;
}

.price__item:nth-of-type(1) {
    grid-area: item1;
}
.price__item:nth-of-type(2) {
    grid-area: item2;
}
.price__item:nth-of-type(3) {
    grid-area: item3;
}
.price__item:nth-of-type(4) {
    grid-area: item4;
}
.price__item:nth-of-type(5) {
    grid-area: item5;
}
@media all and (max-width: 1200px)  {
    .price__item{
        grid-template-rows:  90px 1fr 100px;
    }
}
@media all and (max-width: 800px)  {
    .price__item {
        grid-template-rows: max-content 1fr max-content;
        min-height: 200px;
    }
}

@media all and (max-width: 500px)  {
    .price__item {
    }
}