.result__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

@media all and (max-width: 900px)  {
    .result__items {
        gap: 10px;
    }
}

@media all and (max-width: 700px)  {
    .result__items {
        grid-template-columns: 320px;
        justify-items: center;
    }
}