.nav {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    padding: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.75);
    position: fixed;
    top: 0;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 100px;
    box-sizing: border-box;
    z-index: 3;
    width: 100%;
}

.nav_thanks {
    grid-template-columns: repeat(3, 1fr);
    justify-content: stretch;
}

@media all and (max-width: 1100px)  {
    .nav{
        gap: 50px;
    }
}
@media all and (max-width: 800px)  {
    .nav  {
        grid-template-columns: 1fr repeat(3, max-content);
        gap: 10px;
        padding: 20px;
    }
}