.form__submit_inactive {
    background: #ffffff;
    border: rgb(215, 156, 167) 1px solid;
    box-shadow: 12px 12px 18px rgba(215, 156, 167, 0.5);
    color: #000;
}

.form__submit_inactive:hover {
    background: #ffffff;
    border: rgb(215, 156, 167) 1px solid;
    box-shadow: 12px 12px 18px rgba(215, 156, 167, 0.5);
}