.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    background: linear-gradient(
    120deg, rgba(95, 38, 38, 1) 10%, rgba(210, 188, 192, .05) 100%);
    padding: 40px 120px;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
}

@media all and (max-width: 1500px)  {
    .footer {
        padding: 40px 90px;
    }
}

@media all and (max-width: 1200px)  {
    .footer {
        padding: 40px 60px;
    }
}
@media all and (max-width: 800px)  {
    .footer {
        padding: 40px;
    }
}

@media all and (max-width: 500px)  {
    .footer {
        margin-top: 0px;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }
}