.cards__items {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
    "item1 item2 item3"
    "item4 item4 item4";
    gap: 10px;
    justify-content: center;
    width: 100%;
}

@media all and (max-width: 1100px)  {
    .cards__items {
        grid-template-rows: repeat(2, min-content);
        grid-template-areas: 
        "item1 item2 item3"
        "item4 item4 item4";
    }
}

@media all and (max-width: 600px)  {
    .cards__items {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, min-content);
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
    }
}
