.price__button {
    width: 20px;
    height: 9px;
    background: url(../../../images/Path_down.png) center no-repeat;
    border: none;
    background-size:contain;
    justify-self: center;
    margin-left: 47%;
    margin-top: 20px;
    opacity: 0.8;
}

.price__button:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media all and (max-width: 900px)  {
    .price__button {
        background-size: 95%;
        width: 14px;
        height: 7px;
        background-size: 14px 7px;
        margin-top: 10px;
    }
}